/*****************
Tablets
*****************/

@media screen and (min-width: 768px) {
  
  /**************************
  HEADER
  ***************************/
  #home-bg {
    background-size: cover;
  }

  #uni header, #about header {
    background-size: 1024px;
  }

  #home header, #uni header {
  min-width: 600px;
  min-height: calc(690px * (90/150));
  height: 90vh;
  }

  #uni .header-text {
    padding-top: 20%;
    text-align: right;
    margin-right: 5%;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    max-width: 20%;
  }

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
  }

  /*****************
  UNI FEATURES
  ******************/

  .feature-left, .feature-right {
    clear: both;
    max-width: 45%;
    margin: auto;
    padding: 5% 0;
  }

  .feature-left, .feature-image-left {
    float: left;
  }
  .feature-right, .feature-image-right {
    float: right;
  }

  .feature-image-left, .feature-image-right {
    max-width: 45%;
    margin: auto;
    padding: 10% 0;
  }


  /**********************
  MORE THAN ADVICE IMAGE
  **********************/

  .more-than-advice {
    background-size: 1024px;
  }

  .more-than-advice h2 {
    max-width: 60%;
  }


  /*****************
  IMAGES NOT FOR MOBILE
  *********************/

  .flowchart {
    display: block;
  }
  .mobile-process {
    display: none;
  }

}



/*********************
Feature Image Padding
**********************/
@media screen and (min-width: 900px) {
  
  .feature-image-right, .feature-image-left {
    padding: 7% 0;
  }

}


/************
DESKTOP
************/
@media screen and (min-width: 1024px) {
  
  .feature-image-right, .feature-image-left {
    padding: 5% 0;
  }

  #home-bg, #uni header, #about header, .more-than-advice {
    background-size: cover;
  }

  /***************
  Launch Animation
  ***************/

  .launch-feature:hover .launch-image {
    -webkit-animation: launch-animation 1.5s linear 1 forwards;
  }

  @-webkit-keyframes launch-animation {
    0%    { -webkit-transform: rotate(0) translateY(0); }
    20%   { -webkit-transform: rotate(-40deg) translate(15%, -20%); }
    40%   { -webkit-transform: rotate(-40deg) translate(30%, -40%); }
    70%    { -webkit-transform: rotate(-40deg) translate(50%, -70%);opacity: 0.8; }
    100%  { -webkit-transform: rotate(-40deg) translate(160%, -200%); opacity: 0; }
  }

}
